
.black-body{
    background-color: #232323;
}

.movieForm-main {
    text-align: center;
    padding: 5%;
}

.movieForm {
    margin: auto;
    border: 2px black solid;
    width: 80%;
    padding: 30px;
    background-color: #e51b3e;
    color: white;
    border-radius: 15px;
    font-size: 16px;
}


.movieForm-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
}


.movieForm-div input {
    border-radius: 10px;
    width: 50%;
    padding: 5px;
}

.movieForm-div label {
    text-align: start;
}

.movieForm-div-button button, .movieForm-div-button button a  {
    padding: 10px;
    border-radius: 15px;
    font-size: 12px;
    background-color: #232323;
    color: white;
    width: 25%;
}

.movieForm-div-button button:hover {
    box-shadow: white 0 0 10px ;
}

.form-img {
    width: 10%;
}

.detail-title {
    animation: detail_title 5000ms infinite;
}

@keyframes detail_title {
    0% {color: white;}
    25% {color: #232323;}
    50% {color: white;}
    75% {color: #232323;}
    100% {color: white;}

}
@media (min-width: 480px){
    .movieForm {
        width: 60%;
        padding: 30px;
        background-color: #e51b3e;
        color: white;
        border-radius: 15px;
        font-size: 16px;
    }
}