<figure>
    <img class="figure-img" src="/img/logo-DH.png" alt="Logo Digital House">
</figure>
<nav>
    <div style="display: flex;">
    <ul style="display: flex; gap: 10px; list-style-type: none;">
        <li><a href="/">Home</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/actors">Actors</a></li>
        <li><a href="/movies/add">Movie Form</a></li>
        <li><a href="/movies/edit/:id">Movie Form Edit</a></li>
    </ul>
    </div>
</nav>